<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                </div>
                <div class="mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                </div>


                <div class="mb-4">
                    <label for="Images" class="form-label">Upload images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>

                <div class="mb-4">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">&#8377;</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"
                            required>
                    </div>

                </div>


                <div class="mb-4">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
            <div>
                <a href="/campgrounds">Index</a>
            </div>
        </div>
    </div>